body {
    background-image: url("../pics/taust_other.jpg");
    font-family: Verdana, sans-serif;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: rgba(53,79,82,0.6);
    border-radius: 1em;
    padding: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    text-align: center;
    overflow: show;
    text-overflow: ellipsis;
    color: white;
}

#button {
    padding: 0.6em 1.25em;
    background-color: rgba(132, 169, 140, 0.6);
    border-color: #84A98C;
    border-radius: 1em;
    border-style: solid;
    cursor: pointer;
    color: white;
    width: 10em;
    height: 2.7em;
    margin: 1.25em;
}

#button:hover {
    color: #fff;
    border-color: #38534d;
    background-color: rgba(82, 121, 111,0.8);
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("../pics/taust_other.jpg");
        font-family: Verdana, sans-serif;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: block;
    }
    
    #textcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        background-color: rgba(53,79,82,0.6);
        border-radius: 1em;
        padding: 0.8em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        text-align: center;
        overflow: show;
        text-overflow: ellipsis;
        color: white;
    }
    
    #button {
        padding: 0.6em 1.25em;
        background-color: rgba(132, 169, 140, 0.6);
        border-color: #84A98C;
        border-radius: 1em;
        border-style: solid;
        cursor: pointer;
        color: white;
        width: 10em;
        height: 2.7em;
        margin: 1.25em;
    }
}