body {
	color: #000;
	font-family: Verdana, sans-serif;
	background-image: url("../pics/taust_other.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0;
}

.pagecontainer {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 3em auto 3em;
	width: 100%;
}

.maincontent {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3.5em;
} 

.button-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.answer-button {
	background-color: rgba(132, 169, 140, 0.6);
	border-color: #84A98C;
	color: #fff;
	font-size: 0.75em;
	font-family: Verdana, sans-serif;
	border-style: solid;
	padding: 0.5em;
	border-radius: 1em;	
	width: 10em;
	height: 2.7em;
}

a {
	margin-top: 30px;
}

.answer-button:hover {
	border-color: #38534d; 
	background-color: rgba(82, 121, 111,0.8);
}

.header {
	display: flex;
	flex-wrap: wrap;
	background-color: #354F52;
	border-radius: 3em;
	height: 7em;
	width: 45em;
	font-size: 0.5em;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin: 1em;
}

/* kuraatorivaate jaoks */
.sidecontent {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: space-evenly;
	position: relative;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(53, 79, 82, 0.6);
	color: #fff;
	font-size: 1em;
	font-family: Verdana, sans-serif;
	padding: 0.5em;
	margin-left: 3em;
	margin-right: 3em;
	border-radius: 0.75em;
	height: 7em;
	width: 10em;
	text-align: center;
	position: relative;
}

.message {
	display: flex;
	flex-wrap: wrap;
	background-color: #354F52;
	border-radius: 1em;
	height: 5em;
	width: 12.5em;
	font-size: 1em;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin: 1em;
}

a {
	text-decoration: none;
}

/* Styles for smaller screens (e.g., phones) */

@media only screen and (max-width: 600px) {
	body {
		height: 100%;
	}

	th, td{
		width: 1em;
	}
	.maincontent {
        /*grid-column: 1 / 4;  Spanning all three columns for .maincontent in small screens */
		display: flex;
		flex-direction: column;
		justify-content:flex-start;
		align-items: center;
    }
    
    .sidebar {
        grid-row: 3 / 4; /* Placing .sidebar in the third row */
        grid-column: 1 / 4; /* Spanning all three columns for .sidebar in small screens */
	}
    
    .button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

}
