body {
	color: #000;
	font-family: Verdana, sans-serif;
	background-image: url("../pics/taust_other.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 0;
}

.pagecontainer {
	display: grid;
	grid-template-columns: 10vh 80vh 20vh;
	grid-template-rows: 3em auto 5em;
	margin-left: 5em;
}

.maincontent {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidecontent {
	grid-column: 4 / 4;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: space-evenly;
	position: relative;

}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(53, 79, 82, 0.6);
	color: #fff;
	font-size: 1em;
	font-family: Verdana, sans-serif;
	padding: 0.5em;
	margin-left: 3em;
	margin-right: 3em;
	border-radius: 0.75em;
	height: 7em;
	width: 10em;
	text-align: center;
	position: relative;
}

.sidebar {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.answer-button {
	background-color: rgba(132, 169, 140, 0.6);
	border-color: #84A98C;
	color: #fff;
	font-size: 0.75em;
	font-family: Verdana, sans-serif;
	border-style: solid;
	padding: 0.5em;
	border-radius: 0.75em;	
	width: 7.5em;
	height: fit-content;
}

a {
	margin-top: 30px;
}

.answer-button:hover {
	border-color: #38534d; 
	background-color: rgba(82, 121, 111,0.8);
	
}

.header {
	display: flex;
	flex-wrap: wrap;
	background-color: #354F52;
	border-radius: 3em;
	height: 7em;
	width: 45em;
	font-size: 0.5em;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin: 1em;
}

.message {
	display: flex;
	flex-wrap: wrap;
	background-color: #354F52;
	border-radius: 1em;
	height: 5em;
	width: 12.5em;
	font-size: 1em;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin: 1em;
}

a {
	text-decoration: none;
}

