body {
    background-image: url("../pics/taust_other.jpg");
    font-family: Verdana, sans-serif;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 3vh auto 2vh;
    width: fit-content;
    height: fit-content;
    background-color: rgba(53,79,82,0.6);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

p{
    grid-row: 1/2;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textcontainer{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 70px;
}

.text{
    padding: 10px;
}

.btncontainer{
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin-right: 15px;
}

button{
    padding: 5px;
    font-size: 14px;
    border-radius: 10px; 
    border-style:solid;
    height: fit-content;
    font-size: 14px;
    color: white;
}

.submit{
    background-color: rgba(132, 169, 140, 0.6);
    border-color: #84A98C;
}

.submit:hover{
    background-color: rgba(82, 121, 111,0.8);
    border-color:  #38534d;
}

.nosubmit{
    background-color: rgba(255, 157, 100, 0.6);   border-color: #f59e7b;
}

.nosubmit:hover{
    border-color: #ca5122;
    background-color: rgba(255, 127, 54, 0.6);
}


