body {
    background-image: url("../pics/taust_other.jpg");
    font-family: Verdana, sans-serif;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#textcontainer {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

#container {
    background-color: rgba(53, 79, 82, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 15px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#buttoncontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

#backbtn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back {
    color: #fff;
    background-color: rgba(255, 243, 131, 0.7);
    border: 1px solid #ffde79;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;
}

#back:hover {
    background-color: rgba(240, 209, 115, 0.7);
    border-color: #f5d26a;
    color: #fff;
}

button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 8px;
    min-height: 35px;
    flex: 1;
}

.blue {
    background-color: rgba(135, 207, 235, 0.7);
    border: 1px solid skyblue;
    color: white;
}

.green {
    background-color: rgba(144, 238, 144, 0.7);
    border: 1px solid lightgreen;
    color: white;
}

.blue:hover {
    background-color: rgba(29, 179, 238, 0.7);
    border-color: skyblue;
}

.green:hover {
    background-color: rgba(24, 235, 24, 0.7);
    border-color: lightgreen;
}
